/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header Styles */
.inner-header-banner {
    text-align: center;
    padding: 20px 0;
}

.inner-header-banner img {
    max-width: 100%;
    height: auto;
}

/* Content Styles */
.content {
    max-width: 800px;
    margin: 0 auto;
    
}

.content h1 {
    color: #333;
    text-align: left;
}

.content p {
    line-height: 1.6;
}

.content ul {
    padding-left: 20px;
}

/* History Section Styles */
.history-content {
    float: left;
    width: 60%;
}
.maps{
    align-items: center;
}



/* Clearfix */
.content::after {
    content: "";
    display: table;
    clear: both;
}

